.Link-style a {
color: #FF8C38;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}
.host-nav {
    display: flex;
}

.host-nav a {
    text-decoration: none;
    color: #242323;
    font-weight: 500;
    padding: 5px 20px;
}